#main{
  border: 10px solid blue;
  border-radius: 50px;
  height: 850px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
#main2{
  border: 5px solid blue;
  padding: 25px ;
  margin: 5px 10px;
  border-radius: 50px;
}
button{
  padding: 30px;
  border-radius: 50px;
  margin-top: 50px;
  border: 5px solid blue;
  color: blue;
}
button:hover{
  background-color: blue;
  color: white;
  transition: 0.9s;
  transform: scale(1.2);

}
.footer{
  border: 5px solid blue;
  height: 50px;
  border-radius: 50px ;
  margin-top: 150px;
  padding: 20px;
}